.btn {
  border: none;
  cursor: pointer;
  padding: 1em 2em 1em 2em;
  border-radius: 4px;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -0.177928px;
}

.btn--pink {
  background: #d61d4e;
  color: #ffffff;
}

.btn--yellow {
  background: #f8c615;
  color: #ffffff;
}
